<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Detail</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>
    <h1 align="center">Hero Details</h1>
    <table style="width: 25%" align="center">
        
        
        <h2 align="center"> {{single_hero.name}} </h2>
        <tr>
            <td align="center"><h3> Alter Ego: </h3></td>
            <td align="center"><h3> {{single_hero.alter_ego}} </h3></td>
        </tr>
        <tr>
            <td align="center"><h3> Primary Ability: </h3></td>
            <td align="center"><h3> {{single_hero.primary_ability}} </h3></td>
        </tr>
        <tr>
            <td align="center"><h3> Secondary Ability: </h3></td>
            <td align="center"><h3> {{single_hero.secondary_ability}} </h3></td>
        </tr>
        <tr>
            <td align="center"><h3> Catch Phrase: </h3></td>
            <td align="center"><h3> {{single_hero.catch_phrase}} </h3></td>
        </tr>
    </table>
        
        <h4 align="center"><a href="{% url 'superheroes:edit' single_hero.id %}">Edit</a></h4>
        <h4 align="center"><a href="{% url 'superheroes:remove' single_hero.id %}">Remove</a></h4>
        




</body>
</html>