<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Hero</title>
</head>
<body>
    
    
    <form action="{% url 'superheroes:edit' edited_hero.id %}" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name" id="name" value="{{edited_hero.name}}"><br />
        Alter Ego: <input type="text" name="alter_ego" id="alter_ego" value="{{edited_hero.alter_ego}}"><br />
        Primary Ability: <input type="text" name="primary" id="primary" value="{{edited_hero.primary_ability}}"><br />
        Secondary Ability: <input type="text" name="secondary" id="secondary" value="{{edited_hero.secondary_ability}}"><br />
        Catchphrase: <input type="text" name="catchphrase" id="catchphrase" value="{{edited_hero.catch_phrase}}"><br />
        <input type="submit" value="Edit">
    </form>


</body>
</html>