<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Index</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>
  
    <h1 align="center">List of Heroes</h1>
    <table style="width: 25%" align="center">
        {% for hero in all_heroes %}
        <tr>
        <td align="center"><h2> {{hero.name}} </h2></td>
        <td align="center"><h2> <a href="{% url 'superheroes:detail' hero.id %}">Details</a></h2></td>
        </tr>
        {% endfor %}
    </table>
    <h2 align="center"><a href="{% url 'superheroes:create' %}">Add New Hero</a></h2>
</body>
</html>